@import url("https://fonts.googleapis.com/css?Montserrat:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Cantarell");
@import url("https://fonts.googleapis.com/css?family=Oswald");

                                /* TEMPLATE STYLES */
body{
    font-family: "Cantarell";
    font-weight: 300;
    background-color: white;
}
h1 {
  color: black;
  /*margin-left: 20px;*/
  font-size: 18px;
}
h2 {
  color: black;
  /*margin-left: 20px;*/
  font-size: 16px;
}
p {
    font-size: 16px;
}
a {
    text-decoration: none;
}
.overlay {
    margin: auto;
    margin-top: 5px;
    /*background: #fff3f3; - baby pink */
    background: #f7d7d0;
    height: 350px;
    max-height: 150px;
    box-shadow: 0px 2px 20px 0px #ececec;
}
.home-content {
    max-width: 450px;
    margin: auto;
    /*background: white;*/
    padding: 10px;
    text-align: center;
}
.background-img {
    /*background: url(/static/img/giftfinder_background.png);*/
    background-color: white;
    height: 750px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(247, 215, 208) 0%, rgba(0,0,0,0) 15%, rgba(68,140,61,0) 85%, rgb(247, 215, 208) 100%) ,url(/static/img/giftfinder_background.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5px;
}
.button-box:hover {
    background: #000000;
    color: white;
    border-color: #000;
}
.button-box {
    /*background: #fff3f3; - baby pink */
    background: #f7d7d0;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    color: #585858;
    text-transform: uppercase;
    font-weight: bold;
    border: 4px solid #f7d7d0;
}                            /* NAVIGATION BAR */
header{
    background: black;
    box-shadow: 0px 3px 4px #a0a0a0;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
.container {
    width: 95%;
    margin: 0 auto;
}
.logo-title {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    height: 20px;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 35px;
    font-family: "Cantarell";
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000; /* outlines the text */

}
.login-logo{
    float: left;
    margin-top: 15px;
    height: 29px;
    margin-left: -2%;
    padding-right: 30px;
    position: absolute;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 30px;
    padding-top: 11px;
    position: relative;
}
nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    top: -20px;
    position: relative;
}
nav a:hover {
    color: #d2d2d2;
}
nav a::before {
    content: '';
    display: block;
    height: 2px;
    background-color: #d2d2d2;
    position: absolute;
    top: -21px;
    width: 0%;
}
nav a:hover::before{
    width: 100%;
}
.validation-msg {             /* VALIDATION MESSAGE STYLE */
    color:#af2727;
    font-size: 14px;
}
.about-content {            /* ABOUT CONTENT BOX */
    text-align: center;
    max-width: 500px;
    margin: auto;
}                          /* DROPDOWN WITH CHECKBOXES */
.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
#submit_button{
    min-width: 200px;
    max-width: 600px;
}

select {
    font-family: Arial, Helvetica, sans-serif;
    /*width: 100%;*/
    max-width: 600px;
}
.pSelect select {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 600px;
}
.content {
    max-width: 700px;
    margin: auto;
    /*background: white;*/
    padding: 10px;
    text-align: center;
}                              /* PRODUCT PAGE */
body {
  box-sizing: border-box;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#center-product-box {
  width: 1000px;
  margin: auto;
}
.threerow * {
box-sizing: border-box;
}
.wrapper {
  width: 40em;
  margin: 4em auto;
  background: #fff;
  padding: 4em;
  border-radius: 8px;
  border: 1px solid #f5f5f5;
}
.wrapper > :first-child {
  margin-top: 0;
}
.wrapper > :last-child {
  margin-bottom: 0;
}

.desc {
  margin: 4em auto;
  font-size: 1.2em;
}

.todo {
  background: #f9f9f9;
  padding: 1em;
  border-radius: 4px;
  color: #ccc;
  font-style: italic;
  font-weight: lighter;
  font-size: .9em;
}
.todo ul {
  margin: .4em 0;
  padding: 0 1em;
}
.todo ul li {
  list-style-position: inside;
}

footer {
  margin: 4em auto;
  text-align: center;
  font-size: .9em;
}

a {
  text-decoration: none;
  color: #2196F3;
}


.emoticon-face {
  background: #FFEB3B;
  border-radius: 100%;
  width: 1.7em;
  height: 1.7em;
  transform: rotate(90deg);
  display: inline-block;
  vertical-align: middle;
  line-heigh: 1;
  margin: -.4em .2em 0;
  text-align: center;
  border: 1px solid #FDD835;
  padding-left: .1em;
  -webkit-font-smoothing: antialiased;
}
.emoticon-face--no-rotation {
  transform: rotate(0deg);
}

code {
  padding: .2em .3em;
  background: #f5f5f5;
  margin: 0 .2em;
  border-radius: 4px;
  font-size: .95em;
  font-family: 'Source Code Pro';
}

.tac {
  text-align: center;
}

.wrapper {
  width: 68em;
}

.product-grid {
  width: 60em;
  margin: 2rem auto;
}
.product-grid.product-grid--flexbox .product-grid__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.product-grid.product-grid--flexbox .product-grid__title {
  height: auto;
}
.product-grid.product-grid--flexbox .product-grid__title:after {
  display: none;
}
.product-grid__wrapper {
  margin-left: -1rem;
  margin-right: -1rem;
}
.product-grid__product-wrapper {
  padding: 1rem;
  float: left;
  width: 33.33333%;
}
.product-grid__product {
  padding: 1rem;
  position: relative;
  cursor: pointer;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 2px 20px 0px #d0d0d0;
}
.product-grid__product:hover {
  box-shadow: 0px 0px 0px 1px #eee;
  z-index: 50;
}
.product-grid__product:hover .product-grid__extend {
  display: block;
}
.product-grid__img-wrapper {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.product-grid__img {
  max-width: 100%;
  height: 300px;
  max-height: 100%;
}
.product-grid__title {
  margin-top: 0.875rem;
  display: block;
  font-size: 1.125em;
  color: #222;
  height: 3em;
  overflow: hidden;
  position: relative;
}
.product-grid__title:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2.4em;
  height: 1.5em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%);
}
.product-grid__price {
  color: #e91e63;
  font-weight: bold;
  letter-spacing: 0.4px;
}
.product-grid__extend-wrapper {
  position: relative;
}
.product-grid__extend {
  display: none;
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  margin: 0.4375rem -1rem 0;
  box-shadow: 0px 0px 0px 1px #eee;
  background: #fff;
  border-radius: 0 0 4px 4px;
}
.product-grid__extend:before {
  content: "";
  height: 0.875rem;
  width: 100%;
  position: absolute;
  top: -0.4375rem;
  left: 0;
  background: #fff;
}
.product-grid__description {
  font-size: 0.875em;
  margin-top: 0.4375rem;
  margin-bottom: 0;
}
.product-grid__btn {
  display: inline-block;
  font-size: 0.875em;
  color: #777;
  background: #eee;
  padding: 0.5em 0.625em;
  margin-top: 0.875rem;
  margin-right: 0.625rem;
  cursor: pointer;
  border-radius: 4px;
}
.product-grid__btn i.fa {
  margin-right: 0.3125rem;
}
.product-grid__view {
  color: #777;
  background: #eee;
}
.product-grid__view:hover {
  background: white;
}
.view-more-btn:hover {
    background: #000000;
    color: white;
    border-color: #000;
}
.view-more-btn {
    background: #f7d7d0;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    color: #585858;
    text-transform: uppercase;
    font-weight: bold;
    border: 4px solid #f7d7d0;
    margin-top: 10px;
}                                 /* PRODUCT LISTING PAGE */
#product-listing-box{
    width: 400px;
    margin: auto;
}
#tags_select {
	display: none;
}

.listing-img {
  width: 400px;
  height: auto;
  object-fit: cover;
}
/*
.product__button {
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background: #F1EDE4;
  display: block;
  width: 8rem;
  height: 2rem;
  font-size: .75rem;
  font-family: "Montserrat", sans-serif;
  color: #513F35;
  transition: .32s;
}
.product__button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 2rem;
  transition: .32s;
}
.product__button span:last-child {
    transition-delay: .32s;
    color: #513f35;
    text-align: center;
}
.product__button--success {
  background: #00ff7f;
}
.product__button--success span:last-child {
  top: 0;
}
.product__button--success span:first-child {
  top: -4rem;
}
*/